@{
    ViewBag.Title = "首頁";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        使用 Spire.Doc: <br />
        <a href="@Url.Action("SpireDoc_ExportByHtml")" class="btn btn-primary btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 使用 HTML 建立</a>
        <a href="@Url.Action("SpireDoc_ExportResumeByDocx")" class="btn btn-primary btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 檔案文字套印</a>
        <a href="@Url.Action("SpireDoc_ExportResumeByDocxBookmark")" class="btn btn-primary btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 檔案書籤套印</a>
        <a href="@Url.Action("SpireDoc_ExportResumePdfByDocx")" class="btn btn-primary btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 檔案文字套印 (PDF)</a>
    </p>
    <p>
        使用 OpenXML SDK: <br />
        <a href="@Url.Action("OpenXML_ExportByHtml")" class="btn btn-success btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 使用 HTML 建立</a>
        <a href="@Url.Action("OpenXML_ExportByDocx")" class="btn btn-success btn-lg"><span class='glyphicon glyphicon-download-alt'></span> 檔案文字套印</a>
    </p>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>